<body onload="mostrarPopup()">

    <header>
        <div class="container-grid posicionamento-header">
            <a href="#"><img class="logo" src="assets/img/Logo5.png" alt="logo"></a>
            <nav id="menu" class="menu">
                <a href="#">inicio</a>
                <a href="#">jogos</a>
                <a href="#">noticias</a>
                <a href="#">contato</a>
                <a href="login.html">login</a>
            </nav>
            <a href="#" id="barras"><img class="barras" src="img/menu.png" alt="menu de barras"></a>
        </div>
    </header>


    <section>
        <div class="banners-container">

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/img/fragnarok.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/img/Ghost of Tsuima.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/img/god-of-war-1.png" class="d-block w-100" alt="...">
                  </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            
             <!-- </div>-->
            
            
    </section>

    
    <section class="secao-consoles container">
        <div class="consoles">
            <a href=""><img alt="Xbox" src="img/Xbox Series.png">
                <p>Xbox Serie S|E</p>
            </a>
            <a href=""><img alt="PlayStation 5" src="img/PlayStation5.png">
                <p>Playstation 5</p>
            </a>
            <a href=""><img alt="Nintendo Switch" src="img/Nintendo Switch.png">
                <p>Nintendo Switch</p>
            </a>
            <a href=""><img alt="Acessorios" src="img/acessorios.png">
                <p>Acessórios</p>
            </a>
            <a href=""><img alt="Playstaion 4" src="img/playstaion4.png">
                <p>PlayStation 4</p>
            </a>
            <a href=""><img alt="Xbox One" src="img/xbox-one.png">
                <p>Xbox ONe</p>
            </a>

        </div>
    </section>

    <section class="secao-games container">

            <div class="games-container">

                <a href=""><img src="img/NFL.png">
                    <p>R$ 182,00 à vista<br> ou em 5X
                    </p>
                </a>
                <a href=""><img src="img/CODPS4.png">
                    <p>R$ 195,00 à vista<br> ou em 5X
                    </p>
                </a>
                <a href=""><img src="img/SPIDERMAN.png">
                    <p>R$ 195,00 à vista<br> ou em 5X
                    </p>
                </a>
                <a href=""><img src="img/NBA.png">
                    <p>R$ 182,00 à vista<br> ou em 5X
                    </p>
                </a>
                <a href=""><img src="img/CODPS5.png">
                    <p>R$ 195,00 à vista<br> ou em 5X
                    </p>
                </a>
                <a href=""><img src="img/HALO.png">
                    <p>R$ 185,00 à vista<br> ou em 5X
                    </p>
                </a>

            </div>
        
            
    </section>
    
    
       
    <footer>
        <div class="rodape-container">
            
                <a href="">
                    <h2>Ajuda</h2></a>
                
                    <a href="">
                        <h2>Sobre nós</h2></a>
                    
                        <a href="">
                            <h2>Nossa Politíca</h2>
                        </a>
                        
                            <a href=""> 
                                <h2>Televendas</h2> 
                                                                                                
                                <a href="">
                                <h2>Atendimento</h2> 
                                    
       <!-- </div>-->
        
   <!-- </footer>-->
    <section>
        <div class="rodape2-container">
            <div class="Aplicativos">
                <h2>Baixe o aplicativo:</h2>
                <a href=""><img src="img/apple store.png" alt=""></a>
                <a href=""><img src="img/google_play2.png" alt=""></a>
            </div>
            <div class="caixa ">
                <h2>Receba nossa newsletter:</h2>
                <form ="">
                    <input id="campo-email" type="email" placeholder="E-mail" required>
                    <button onclick="enviarEmail()">Cadastrar</button>
                </form>
    
            </div>
            <div class="redes-sociais">
                <h4>Conecte-se conosco:</h4>
                
                <a href=""><img src="img/facebook2.png" alt=""></a>  
                <a href=""><img src="img/instagram2.png" alt=""></a> 
                <a href=""><img src="img/pinterest2.png" alt=""></a>
                <a href=""><img src="img/twiter2.png" alt=""></a>
                <a href=""><img src="img/youtube2.png" alt=""></a> 
        
            </div>

        </div>
        <section>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2022 Todos os direitos:
                <a href="">GameMania.com</a>
              </div>
        </section>

    </section>

<script src="js/jquery-3.6.0.js"></script>  
<script src="js/script.js"></script>  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!--
</body>
-->